\*
{
    margin: O;
    padding: 0;
}
body
{
    background-color: rgb(226, 40, 161);
}
h2
{   
    text-align: center;
}
form
{
   margin-left: 600px;
   
}
input[type="text"],input[type="number"],input[type="text"],
input[type="email"],input[type="phone number"],
input[type="text"]
{
    height: 23px;
    width: 300px;
    background-color: transparent;
}
select
{
    height: 25px;
    width: 300px    
}
label
{
    display: block;
}